.App {
  text-align: center;
}

.Container {
  width: 768px;
  min-height: 480px;
  display: flex;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
}

.Cta {
  width: 45%;
  color: #fff;
  padding: 50px;
  overflow: hidden;
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-position: 0 0;
  text-align: left;
  font-weight: bold;
}

.Cta ul {
  list-style-type: none;
  line-height: 1.5;
  margin-top: 35px;
  padding: 0;
}

.Cta ul li {
  margin: 16px 0;
}

.Form {
  width: 55%;
  display: flex; 
  flex-direction: column;
  padding: 50px;
}

button {
  border-radius: 5px;
  border: 1px solid #4776E6;
  background-color: #4776E6;
  font-size: 12px;
  padding: 12px 45px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin: 28px 0;
  cursor: pointer;
  width: 90%;
}

input {
  background-color: #f6f5f7;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 90%;
}

input:focus {
  border-bottom: 2px solid #4776E6;
  outline: none;
}

.input-alert {
  color: rgb(77, 76, 76);
  font-size: 12px;
}

.error-msg {
  color: red;
  font-size: 10px;
}

.submit-success {
  color: green;
  font-size: 12px;
}


